$white-color: #f1f1f1;
$blue-color: #2196f3;
$red-card-color: #f34334;
$orange-card-color: #fe9900;
$blue-card-color: #22a7f0;
$green-card-color: #4cb050;
$gray-card-color: #414d63;
$california-color:#f89406;
$carrot-orange-color:#f89406;