.login-page {
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#c55ad3), to(#898b91));
  background: linear-gradient(180deg, #c55ad3, #898b91);
}

.login-page .center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  background: #ffffff;
  border-radius: 2px;
  padding: 20px;
  -webkit-box-shadow: 1px 1px 1px 1px #b8aeae inset;
          box-shadow: 1px 1px 1px 1px #b8aeae inset;
}

.login-page .image-login {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1rem 0rem 2rem;
}

.login-page .login-form {
  margin-right: 2rem;
}

.login-page .btn-login {
  width: 70%;
  text-align: center;
}

#overview-page .site-card-wrapper .room-title {
  -webkit-box-shadow: 0px 1px 1px 1px #dee1e4;
          box-shadow: 0px 1px 1px 1px #dee1e4;
}

#overview-page .site-card-wrapper .room-title .ant-card-head .ant-card-head-title {
  color: #e96561;
  font-size: 1rem;
  font-weight: 400;
}

#overview-page .site-card-wrapper .room-title .ant-card-body {
  color: #4cb050;
  font-size: 1.42rem;
  font-weight: 700;
}

#overview-page .site-card-wrapper .room-title .ant-card-body img {
  float: right;
  margin-right: 1rem;
}

#overview-page .site-card-wrapper .room-active-title {
  -webkit-box-shadow: 0px 1px 1px 1px #dee1e4;
          box-shadow: 0px 1px 1px 1px #dee1e4;
}

#overview-page .site-card-wrapper .room-active-title .ant-card-head .ant-card-head-title {
  color: #d91e18;
  font-size: 1rem;
  font-weight: 400;
}

#overview-page .site-card-wrapper .room-active-title .ant-card-body {
  color: #f34334;
  font-size: 1.42rem;
  font-weight: 700;
}

#overview-page .site-card-wrapper .room-active-title .ant-card-body img {
  float: right;
  margin-right: 1rem;
}

#overview-page .site-card-wrapper .service-title {
  -webkit-box-shadow: 0px 1px 1px 1px #dee1e4;
          box-shadow: 0px 1px 1px 1px #dee1e4;
}

#overview-page .site-card-wrapper .service-title .ant-card-head .ant-card-head-title {
  color: #4d05e8;
  font-size: 1rem;
  font-weight: 400;
}

#overview-page .site-card-wrapper .service-title .ant-card-body {
  color: #22a7f0;
  font-size: 1.42rem;
  font-weight: 700;
}

#overview-page .site-card-wrapper .service-title .ant-card-body img {
  float: right;
  margin-right: 1rem;
}

#overview-page .site-card-wrapper .receipt-title {
  -webkit-box-shadow: 0px 1px 1px 1px #dee1e4;
          box-shadow: 0px 1px 1px 1px #dee1e4;
}

#overview-page .site-card-wrapper .receipt-title .ant-card-head .ant-card-head-title {
  color: #f9690e;
  font-size: 1rem;
  font-weight: 400;
}

#overview-page .site-card-wrapper .receipt-title .ant-card-body {
  color: #fe9900;
  font-size: 1.42rem;
  font-weight: 700;
}

#overview-page .site-card-wrapper .receipt-title .ant-card-body img {
  float: right;
  margin-right: 1rem;
}

#overview-page .ant-breadcrumb .ant-breadcrumb-link h4 {
  color: #919da9;
}

@media screen and (max-width: 980px) {
  #overview-page .ant-row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 10px !important;
  }
}

@media screen and (max-width: 980px) {
  #overview-page .ant-row .ant-col-6 {
    max-width: 100% !important;
  }
}

#root {
  height: 100%;
  width: 100%;
}

.logo {
  height: 32px;
  margin: 0.86rem;
  overflow: hidden;
}

.logo h1 {
  color: #f1f1f1;
  margin: auto;
  text-align: center;
}

.logo-page {
  height: 32px;
  width: 30px;
  margin: 0.86rem auto;
  background: url("../images/hotel.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

#navbarBoard .icon-user-option {
  display: inline-block;
}

#navbarBoard .icon-user-option svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

#header-page {
  padding: 0 0.4rem 0 0;
}

#navbarBoard {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  float: right;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  color: #d1d1d1;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item:hover {
  background-color: #001529;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #001529;
  color: #a0a0a0;
}

.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon, .ant-menu-dark .ant-menu-item-selected .anticon {
  color: #a5a5a5;
}

.ant-menu-dark .ant-menu-item-active, .ant-menu-dark .ant-menu-submenu-active, .ant-menu-dark .ant-menu-submenu-open, .ant-menu-dark .ant-menu-submenu-selected {
  color: none;
  background-color: transparent;
}

.ant-menu-dark .ant-menu-item:hover, .ant-menu-dark .ant-menu-submenu-title:hover {
  color: #f1f1f1;
  background-color: #001529;
}

.site-layout .site-layout-background {
  background: #fff;
}

[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.ant-table-thead > tr > th {
  font-weight: 500;
  text-align: left;
  background: #fafafa;
  color: rgba(0, 0, 0, 0.85);
  border-bottom: 1px solid #dcdcdc;
}

.ant-table-container table > thead > tr > th:last-child {
  text-align: center;
}

.ant-table-container table > tbody > tr > td:last-child {
  text-align: center;
}

table {
  border-collapse: collapse;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.image-login {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=index.css.map */