#overview-page{
    .ant-card-head-wrapper{
        .ant-card-head-title{
            color: #67809f;  
            font-size: 1.05rem;      
        }
    }
    .ant-breadcrumb{
        .ant-breadcrumb-link{
            h4{
                color: #919da9;
            }
        }
    }
}